workflows/GOVERN/GOVERN-2 Change Severity Classification.json
{
  "name": "GOVERN-2 Change Severity Classification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -32
      ],
      "id": "4f1b6e86-e954-4e4f-a4b6-0765488dee20",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://esgwrqcyhtzcsbepvqhc.supabase.co/rest/v1/change_detection_queue?queue_status=eq.pending_classification&order=priority.desc,scanned_at.asc&limit=50",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -32
      ],
      "id": "37fb73b0-a685-4ee4-bde2-86f4356310a1",
      "name": "Fetch Pending Entries",
      "credentials": {
        "qdrantRestApi": {
          "id": "5kvIJD32UkQxRAis",
          "name": "Qdrant account"
        },
        "supabaseApi": {
          "id": "vTKATqGswB3PHE6S",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b89b5a1-f86b-40c1-9c76-a46741f79775",
              "leftValue": "={{ $json.queue_entry_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -32
      ],
      "id": "1fdf9af7-ae3d-4cb2-bc67-28c37a05443c",
      "name": "Has Pending Entries"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        -48
      ],
      "id": "24baa2d0-f2b4-4241-aeb8-48c6e02b0f6c",
      "name": "Loop Through Entries"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.scan_status }}",
                    "rightValue": "verification_failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1264434d-59b4-4826-a406-8b28c1631591"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ee3745c-9cea-452d-b48d-59d9905b50cd",
                    "leftValue": "={{ $json.scan_status }}",
                    "rightValue": "verified_unchanged",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        592,
        -48
      ],
      "id": "4e11c1e9-6f7b-4f16-8845-cb46aa8355e3",
      "name": "Route By Scan Status"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst scanResult = item.scan_result || {};\nconst changedFields = scanResult.changed_fields || [];\n\nconst fieldCategories = {\n  'name': { category: 'identity', impact: 0.8 },\n  'orcid': { category: 'identity', impact: 1.0 },\n  'primary_affiliation': { category: 'identity', impact: 0.8 },\n  'identity': { category: 'identity', impact: 0.8 },\n  'publications': { category: 'content', impact: 0.6 },\n  'h_index': { category: 'content', impact: 0.4 },\n  'citations': { category: 'content', impact: 0.2 },\n  'total_citations': { category: 'content', impact: 0.2 },\n  'research_areas': { category: 'content', impact: 0.5 },\n  'keywords': { category: 'content', impact: 0.3 },\n  'metrics': { category: 'content', impact: 0.4 },\n  'patents': { category: 'content', impact: 0.5 },\n  'secondary_affiliations': { category: 'relationship', impact: 0.5 },\n  'affiliations': { category: 'relationship', impact: 0.5 },\n  'affiliation': { category: 'relationship', impact: 0.5 },\n  'co_authors': { category: 'relationship', impact: 0.5 },\n  'collaborators': { category: 'relationship', impact: 0.5 },\n  'profile_url': { category: 'metadata', impact: 0.1 },\n  'last_updated': { category: 'metadata', impact: 0.05 }\n};\n\nconst categoryWeights = {\n  identity: 0.30,\n  content: 0.40,\n  relationship: 0.20,\n  metadata: 0.10\n};\n\nconst categoryDeltas = {\n  identity: 0,\n  content: 0,\n  relationship: 0,\n  metadata: 0\n};\n\nfor (const field of changedFields) {\n  const fieldLower = field.toLowerCase();\n  const config = fieldCategories[fieldLower];\n  \n  if (config) {\n    categoryDeltas[config.category] += config.impact;\n  } else {\n    categoryDeltas.metadata += 0.1;\n  }\n}\n\nfor (const cat of Object.keys(categoryDeltas)) {\n  if (categoryDeltas[cat] > 1.0) {\n    categoryDeltas[cat] = 1.0;\n  }\n}\n\nconst severityScore = \n  (categoryDeltas.identity * categoryWeights.identity) +\n  (categoryDeltas.content * categoryWeights.content) +\n  (categoryDeltas.relationship * categoryWeights.relationship) +\n  (categoryDeltas.metadata * categoryWeights.metadata);\n\nconst roundedScore = Math.round(severityScore * 10000) / 10000;\n\nlet severity;\nlet routed_to;\nlet priority = item.priority || 'normal';\n\nif (roundedScore < 0.05) {\n  severity = 'none';\n  routed_to = 'no_action';\n} else if (roundedScore < 0.25) {\n  severity = 'minor';\n  routed_to = 'metadata_update_queue';\n} else if (roundedScore < 0.60) {\n  severity = 'major';\n  routed_to = 'refabrication_queue';\n} else {\n  severity = 'critical';\n  routed_to = 'refabrication_queue';\n  priority = 'high';\n}\n\nconst routingReason = `Severity ${severity} (score: ${roundedScore}) based on ${changedFields.length} changed fields: ${changedFields.join(', ')}`;\n\nreturn {\n  queue_entry_id: item.queue_entry_id,\n  asset_id: item.asset_id,\n  entity_type: item.entity_type,\n  severity: severity,\n  severity_score: roundedScore,\n  routed_to: routed_to,\n  routing_reason: routingReason,\n  priority: priority,\n  changed_fields: changedFields,\n  category_deltas: categoryDeltas\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        176
      ],
      "id": "6bf3f636-9f6d-4080-b425-f1be47a3f9b3",
      "name": "Calculate Severity Score"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nreturn {\n  queue_entry_id: item.queue_entry_id,\n  asset_id: item.asset_id,\n  entity_type: item.entity_type,\n  severity: null,\n  severity_score: null,\n  routed_to: 'retry_queue',\n  routing_reason: 'Scan verification failed - routing for re-scan',\n  priority: item.priority || 'normal',\n  changed_fields: []\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -192
      ],
      "id": "31932695-1d22-4b92-94b5-e8bedaaa8836",
      "name": "Prepare Retry Routing"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nreturn {\n  queue_entry_id: item.queue_entry_id,\n  asset_id: item.asset_id,\n  entity_type: item.entity_type,\n  severity: 'none',\n  severity_score: 0,\n  routed_to: 'no_action',\n  routing_reason: 'No changes detected - freshness verified',\n  priority: item.priority || 'normal',\n  changed_fields: []\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -32
      ],
      "id": "0beb3d1a-267a-4de8-a702-caf12b11466c",
      "name": "Prepare No-Action Routing"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        -48
      ],
      "id": "6449380e-70e0-4df0-949a-f4510a25423d",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.routed_to }}",
                    "rightValue": "refabrication_queue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1264434d-59b4-4826-a406-8b28c1631591"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ee3745c-9cea-452d-b48d-59d9905b50cd",
                    "leftValue": "={{ $json.routed_to }}",
                    "rightValue": "metadata_update_queue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d620d9b-f3c8-4af1-ae46-10d942b90fcf",
                    "leftValue": "={{ $json.routed_to }}",
                    "rightValue": "=retry_queue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2000,
        -64
      ],
      "id": "095a7ba8-5238-4d11-b7f3-4e395f2eaf49",
      "name": "Route to Downstream Queue"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://esgwrqcyhtzcsbepvqhc.supabase.co/rest/v1/change_detection_queue?queue_entry_id=eq.{{ $json.queue_entry_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queue_status\": \"routed\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"severity_score\": {{ $json.severity_score ?? 'null' }},\n  \"routed_to\": \"{{ $json.routed_to }}\",\n  \"classified_at\": \"{{ $now.toISO() }}\",\n  \"routed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        -32
      ],
      "id": "3339afab-1e24-42a0-8cfc-b6e87bc26b09",
      "name": "Update Queue Entry",
      "credentials": {
        "qdrantRestApi": {
          "id": "5kvIJD32UkQxRAis",
          "name": "Qdrant account"
        },
        "supabaseApi": {
          "id": "vTKATqGswB3PHE6S",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://esgwrqcyhtzcsbepvqhc.supabase.co/rest/v1/refabrication_queue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_queue_entry_id\": \"{{ $json.queue_entry_id }}\",\n  \"asset_id\": \"{{ $json.asset_id }}\",\n  \"entity_type\": \"{{ $json.entity_type }}\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"severity_score\": {{ $json.severity_score }},\n  \"changed_fields\": {{ JSON.stringify($json.scan_result.changed_fields) }},\n  \"refabrication_reason\": \"{{ $json.routed_to }} - severity {{ $json.severity }} ({{ $json.severity_score }})\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"queue_status\": \"pending_refabrication\",\n  \"queued_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -624
      ],
      "id": "5c8b1331-84b6-4dc8-9cf6-5afc2e89ae2b",
      "name": "Insert Refabrication Entry",
      "credentials": {
        "qdrantRestApi": {
          "id": "5kvIJD32UkQxRAis",
          "name": "Qdrant account"
        },
        "supabaseApi": {
          "id": "vTKATqGswB3PHE6S",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://esgwrqcyhtzcsbepvqhc.supabase.co/rest/v1/metadata_update_queue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_queue_entry_id\": \"{{ $json.queue_entry_id }}\",\n  \"asset_id\": \"{{ $json.asset_id }}\",\n  \"entity_type\": \"{{ $json.entity_type }}\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"severity_score\": {{ $json.severity_score }},\n  \"changed_fields\": {{ JSON.stringify($json.scan_result.changed_fields) }},\n  \"update_reason\": \"Minor changes - severity {{ $json.severity }} ({{ $json.severity_score }})\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"queue_status\": \"pending_update\",\n  \"queued_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        -336
      ],
      "id": "a4244f0b-e20f-48d8-8d4e-afff6190b645",
      "name": "Insert Metadata Update Entry",
      "credentials": {
        "qdrantRestApi": {
          "id": "5kvIJD32UkQxRAis",
          "name": "Qdrant account"
        },
        "supabaseApi": {
          "id": "vTKATqGswB3PHE6S",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2384,
        -16
      ],
      "id": "33892b2a-3480-4063-8193-eacecf3a9b38",
      "name": "Retry Queue Placeholder"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2400,
        192
      ],
      "id": "01662f1e-c0f7-455b-b326-6c843c38d838",
      "name": "No Action Required1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn {\n  workflow: 'GOVERN-2',\n  completed_at: new Date().toISOString(),\n  total_processed: items.length,\n  message: `Processed ${items.length} queue entries`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -336
      ],
      "id": "e06c92d5-a040-4265-b40f-6f6cc76aaffa",
      "name": "Log Processing Summary"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-11-28T01:04:27.004+11:00",
          "Readable date": "November 28th 2025, 1:04:27 am",
          "Readable time": "1:04:27 am",
          "Day of week": "Friday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "28",
          "Hour": "01",
          "Minute": "04",
          "Second": "27",
          "Timezone": "Australia/Melbourne (UTC+11:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pending Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Entries": {
      "main": [
        [
          {
            "node": "Has Pending Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Entries": {
      "main": [
        [
          {
            "node": "Log Processing Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route By Scan Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Entries": {
      "main": [
        [
          {
            "node": "Loop Through Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Severity Score": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Route By Scan Status": {
      "main": [
        [
          {
            "node": "Prepare Retry Routing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare No-Action Routing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Severity Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry Routing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare No-Action Routing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Queue Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Queue Entry": {
      "main": [
        [
          {
            "node": "Route to Downstream Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Downstream Queue": {
      "main": [
        [
          {
            "node": "Insert Refabrication Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Metadata Update Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Through Entries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retry Queue Placeholder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Required1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Refabrication Entry": {
      "main": [
        [
          {
            "node": "Loop Through Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Metadata Update Entry": {
      "main": [
        [
          {
            "node": "Loop Through Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f668190-39d0-4ff4-943a-22428250b6cc",
  "meta": {
    "instanceId": "bc0e623ae1bb3524870487de3c7fa60f3a571019006cc26dd79ca981250a48aa"
  },
  "id": "MbBckVqJEVKw5hpW",
  "tags": []
}